.body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("https://m.media-amazon.com/images/I/81oC5pYhh2L._AC_SL1500_.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.monopoly-board {
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 40%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
}

.results-board > div {
  margin-bottom: 10px;
}

.results-board form {
  margin-top: 20px;
}

.player-display {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 10px;
}

.btn-hover {
  transition: background-color 0.3s ease;
}

.btn-hover:hover {
  background-color: #007bff;
  color: white;
}