/* style.css */

body {
  font-family: Arial, sans-serif;
  background-color: #3391f0;
  color: #333;
}
.board{
  height: 500px;
  width: 500px;
}

.text-center {
  text-align: center;
  margin-top: 20px;
}

.monopoly-board {
  text-align: center;
  margin-right: 0px 0;
}

.monopoly-board img {
  width: 80%;
  max-width: 800px;
}

.container {
  display: flex;
  justify-content: center;
}

.left-sidebar {
  width: 30px;
  margin-left: 20px;
  background: #f5a9a9;
  border: 1px solid #ddd;
  margin-left: 0px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: fixed;
}

.results-board {
  margin-bottom: 20px;
}

.dice-result {
  margin-bottom: 20px;
}

.players-display {
  margin-bottom: 20px;
}

.player-display {
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: center;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-hover:hover {
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.dice {
  font-size: 90px;
}

[data-num='1'] {
  color: hotpink;
}

[data-num='2'] {
  color: blue;
}

[data-num='3'] {
  color: tan;
}

[data-num='4'] {
  color: purple;
}

[data-num='5'] {
  color: orange;
}

[data-num='6'] {
  color: green;
}

#status {
  margin: 10px 0;
  font-size: 18px;
  color: #28a745;
}

.property-decision {
  text-align: center;
  margin-top: 20px;
}

.property-decision form {
  display: inline-block;
  margin: 0 10px;
}
